@using Domain
@model SiteSetting

<h1>درباره ما :</h1>

<h1>نام:@Model.Title</h1>

<h1>توضیحات:@Model.Description</h1>

<h1>آدرس:@Model.Address</h1>

<h1>تلفن ثابت:@Model.Tel</h1>
<h1>تلفن همراه:@Model.Mobile</h1>
<h1>ایمیل:@Model.Email</h1>

